/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/05/2021, 07:09:44 PM
    Author     : YENDRI
*/

body {
}

head {
    background-color: #f44336;
    padding: 4px 24px;
}

.tablaPersonas {
    border: none;
    border-top: 2px solid darkslategrey;
    border-bottom: 2px solid darkslategrey;
    border-collapse: collapse;
    font-size: smaller;
}

.tablaPersonas th,
.tablaPersonas td {
    border: none;
    border-right: 1px solid darkslategrey;
    padding: 4px 12px;
}

.tablaPersonas tr td:nth-child(n+5) {
    border-right: none;
}

.tablaPersonas tbody tr:nth-child(odd) {
    background-color: #afd1d1;
}

.tablaPersonas th {
    background-color: darkslategrey;
    border: none;
    color: blanchedalmond;
}

.tablaPersonas td {
}

header {
}

form {
}