/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/05/2021, 04:17:58 PM
    Author     : YENDRI
*/

body {
}

head {
    background-color: #f44336;
    padding: 4px 24px;
}

.tablaCursos {
    border: none;
    border-top: 2px solid darkslategrey;
    border-bottom: 2px solid darkslategrey;
    border-collapse: collapse;
    font-size: smaller;
}

.tablaCursos th,
.tablaCursos td {
    border: none;
    border-right: 1px solid darkslategrey;
    padding: 4px 12px;
}

.tablaCursostr td:nth-child(n+5) {
    border-right: none;
}

.tablaCursos tbody tr:nth-child(odd) {
    background-color: #afd1d1;
}

.tablaCursos th {
    background-color: darkslategrey;
    border: none;
    color: blanchedalmond;
}

.tablaCursos td {
}

header {
    
}

form {
    
}
