/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 abr. 2021, 16:57:29
    Author     : YENDRI
*/

.listadoCurso {
    border: none;
    border-top: 2px solid darkslategrey;
    border-bottom: 2px solid darkslategrey;
    border-collapse: collapse;
    font-size: smaller;
}

.listadoCurso th,
.listadoCurso td {
    border: none;
    border-right: 1px solid darkslategrey;
    padding: 4px 12px;
}

.listadoCurso tr td:nth-child(n+5) {
    border-right: none;
}

.listadoCurso tbody tr:nth-child(odd) {
    background-color: #b8c8d1;
}

.listadoCurso th {
    background-color: darkslategrey;
    border: none;
    color: white;
}

.listadoCurso td {
}

/*.let p:first-letter {text-transform: uppercase;}*/
/*#etiquetas botonBuscar:first-letter {text-transform: uppercase;}*/
